html

  head

    // script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js')
    // script(src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js')
    script(src='http://mbostock.github.com/d3/d3.js')
    script(src='http://popcornjs.org/code/dist/popcorn-complete.min.js')
    script(src='js/hh-debug.js')

    link(rel='stylesheet', type='text/css', href='css/jquery-ui-1.9.2.custom.css')
    link(rel='stylesheet', type='text/css', href='css/hh.css')

  body

    #stage
      #art
      #avideo
        video(height='100%', width='100%', id="vid")


    //- #floaty.properties-pane
    //-   label Na Conductance:
    //-     span(data-bind='text: gbar_Na')
    //-   br
    //-   div(data-bind="slider: gbar_Na, sliderOptions: {min: 0, max: 300, range: false, step: 5}")


